<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Greetings!</h1>
    <p>Welcome to the Chocolate Catalog API</p>
    <a href="/api/chocolates">View chocolates</a>
    <br>
    <a href="/api/newchocolate">Add new chocolate</a>
</body>
</html>